<% include partials/header %>

<body id="signup-body">
  <section class="half-page left-content">
    <div class="container">
      <form id="signup-form" action="/api/v1/users" method="POST">

        <div class="form-field">
          <input type="text" name="fname" value="" placeholder="First Name">
        </div>
        <div class="form-field">
          <input type="text" name="lname" value="" placeholder="Last Name">
        </div>
        <div class="form-field">
          <input type="text" name="othername" value="" placeholder="Other Name">
        </div>
        <div class="form-field">
          <input type="email" name="email" value="" placeholder="Email">
        </div>
        <div class="form-field">
          <input type="text" name="phone" value="" placeholder="Phone Number">
        </div>
        <div class="form-field">
          <input type="text" name="username" value="" placeholder="Username">
        </div>
        <div class="form-field">
          <input type="password" name="password" value="" placeholder="Password">
        </div>
        <div class="form-field">
          <select name="admin">
            <option>Sign up as Admin?</option>
            <option value="false">No</option>
            <option value="true">Yes</option>
          </select>
        </div>
        <button class="btn-colored btn-signup-button">Submit</button>
      </form>
    </div>
  </section>
  <section class="half-page right-signup-content right-content">
    <div class="container">
      <h2>- <span class="span-bold-letter">S</span>ign Up -</h2>
      <div class="content">
        <p>Join the band of iReporters changing the community one voice at a time</p>
          <button type="button" class="btn-colored"><a href="/api/v1/about">Learn More</a></button>
          <button type="button" class="btn-trans"><a href="/api/v1">Back To Home</a></button>
      </div>
    </div>
  </section>

<% include partials/footer %>
