<% include partials/header %>

<body id="about-body">
  <section class="half-page left-content">
    <div class="container">
      <h2>- <span class="span-bold-letter">A</span>bout -</h2>
      <div class="content">
        <p>Every voice deserves to be heard in our community.</p>
        <p>iReporter makes it POSSIBLE!</p>
        <p>Capture the corrupt practices around you. Capture infrastructure
          that are below standard and help the authorities clean up the community.</p>
        <p>Your information is kept anonymous so get rid of the worries!</p>
        <p>Don't forget to start off already!</p>
      </div>
    </div>
  </section>
  <section class="half-page right-about-content right-content">
    <div class="container">
      <div id="about-button-position">
        <button type="button" class="btn-colored about-button"><a href="/api/v1/users/new">Get Started</a></button>
        <button type="button" class="btn-trans about-button"><a href="/api/v1">Back To Home</a></button>
      </div>
    </div>
  </section>

<% include partials/footer %>
